body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
/* In index.css or App.css */
html, body, #root {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
}
html {
  scroll-behavior: smooth;
}
@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}
